<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/vue"></script>
        <script src="https://kit.fontawesome.com/5313b89217.js" crossorigin="anonymous"></script>
        <script src="products.js"></script>
        <link rel="stylesheet" href="style.css" />
        <title>After School Club</title>
    </head>

    <body>
        <div id="app">
            <div id="header">
                <A HREF="index.html" v-text="sitename" id="sitename"></A>
                <!-- Search bar -->
                <div class="box">
                    <div name="search">
                        <input v-on:input="searchProduct" v-model="searchText" type="text" class="input" name="txt" />
                    </div>
                    <i id="searchIcon" class="fas fa-search"></i>
                </div>
                <!-- Sort By button -->
                <div>
                    <select id="sort" @change="sortBy" v-model="sortOption">
                        <option v-for="option in options">{{option}}</option>
                    </select>
                </div>
                <!-- checkout button -->
                <button v-bind:disabled="!cart.length > 0" v-on:click="showCheckout" id="checkout">
                    <span v-show="cart.length>0">{{cartItemCount}}</span>
                    <span class="fa solid fa-cart-plus" style="font-size: 20px"></span>
                </button>
            </div>
            <!-- products(lessons)  -->
            <div v-if="showProduct">
                <div v-for="product in serachResults" id="items">
                    <img v-bind:src="product.image" alt="image" width="300" height="200" />
                    <p><i class="fas fa-book"></i> {{product.name}}</p>
                    <p><i class="fas fa-map-marked-alt"></i>
                        {{product.location}}
                    </p>
                    <p><i class="fas fa-pound-sign"></i> {{product.price}}</p>
                    <p>
                        <i class="fas fa-history"> </i><span v-if="itemLeft(product) === 0"> Class is Full</span>
                        <span v-else="itemLeft(product) <5">
                            {{itemLeft(product)}} </span>
                    </p>
                    <!-- Add to cart button -->
                    <button v-on:click="addToCart(product)" :disabled="!canAddToCart(product)" id="addCart">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <!-- Cart/Checkout Page -->
            <div v-else>
                <div class="checkoutContainer">
                    <h1>Basket</h1>
                    <div class="cartContainer">

                        <div v-for="carts in cart" :key="cart.id" class="productContainer">
                            <img v-bind:src="carts.image" alt="image" width="150" height="100">
                            <p>{{carts.name}}</p>
                            <p>£{{carts.price}}</p>
                            <button @click="removeItem(carts)">Remove</button>
                        </div>
                    </div>
                </div>
                <!-- Checkout form -->
                <div class="formContainer">
                    <h1>Checkout</h1>
                    <p>Enter Your Details To Checkout</p>
                    <form>
                        <p><strong>Full Name </strong><span></span><input v-on:input="validateData"
                                v-model="order.fullName" />
                        </p>
                        <p><strong>Phone Number </strong><input v-on:input="validateData" v-model="order.phoneNumber" />
                        </p>
                        <button v-bind:disabled="!validForm" @click="submitForm">place order</button>
                    </form>
                </div>

            </div>
        </div>
        </div>
        <script src="app.js"></script>
    </body>

</html>
