/* Header Css */
html{
background-color: #a3bfcca2;
  /* background-image: url(images/background5.jpg);
  background-repeat: no-repeat;
  background-size:cover;   */
}
#header {
  align-items: center;
  justify-content: space-around;
  position:relative;
}
/* Website Title */
a#sitename {
  text-shadow: 0px 2px 24px #8093F1;
  font-family: Comic Sans MS;
  position: inherit;
  margin-right: 27%;
  font-size: xx-large;
}

/* Sort By select */
.sortContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(171 194 193 / 66%);
  border-radius: 10px;

}
select#sort {

 height: 20px;
  position: inherit;
  background: transparent;
  border: none;

}
.sortRadio{
  flex-direction: column;

}

/* Cart button */
button#checkout {
  background-color: #fafeff63;
  border-radius: inherit;
  width: 70px;
  height: 52px;
  margin-right: 50px;
  margin-left: 25px;
}

/* Search Bar */
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: 4px solid #f8f8f8a2;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #B388EB;
  outline: none;
  transition: 0.5s;
}

.box:hover input {
  width: 350px;
  background: #928aa0;
  border-radius: 10px;
}

i#searchIcon {
  position: inherit;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #4035d4a2;
  transition: 0.2s;
}

.box:hover i {
  opacity: 0;
  z-index: -1;
}

/* Body div (Products */
#app > div {
  margin-top: 95px;
  text-align: center;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;

}
button#addCart {
  border-radius: 25px;
  width: 55px;
  height: 35px;
}
i.fas.fa-plus {
  font-size: x-large;
}

#items {
  margin: 70px;
  margin-left: 80px;
}

img.productImage {
  border-radius: 25px;
  width: 250px;
   height: 200px;
}

body {

  margin: 0;
  padding: 0;
} 


/* Checkout Page */
.cartContainer{
  display: flex;
  flex-direction:row;
  margin-bottom: 10px;
  width: 840px;
  position: relative;
  height: 250px;
}

.checkoutContainer{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border:outset;
  overflow: scroll;

  
}
.formContainer {
  margin-left: 20px;
  border: outset;
  width: 245px;
  padding-bottom: 10px;
  padding-top: 10px;

}

.productContainer {
  margin-left: 10px;
}